*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Inter', sans-serif;
}
.container1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rectangle1 {
  width: 100px;
  height: 300px;
  border-radius: 20px;
  background-color: rgb(104, 104, 104);
  position: relative;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;

}
.center1 {
  position: relative;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;

}
.filler1 {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  background-color: #ffe600;
  transform-origin: bottom;
  transform: scaleY(0.6);
  transition: transform 2.5s;
}
.filler2 {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  background-color: #1c4587;
  transform-origin: bottom;
  transform: scaleY(0.05);
  transition: transform 2.5s;
}

input[type="range"] {
  width: 80%;
  margin-top: 20px;
  opacity: 0;
}
.navbar{
  display:flex;
  align-items:center;
  padding:20px;
}
nav{
  flex: 1;
  text-align: right;
}
nav ul{
  display: inline-block;
  list-style-type: none;
}
nav ul li{
  display: inline-block;
  margin-right: 20px;
}
a{
  text-decoration: none;
  color: #555;
}
p{
  text-decoration: none;
  color: #555;
}
.container{
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.row2{
  display: flex;
  
  flex-wrap: wrap;
  justify-content: space-around;
}
.col-2{
  flex-basis: 50%;
  min-width: 300px;
}
.col-2 img{
  max-width: 100%;
  padding: 50px 0;
  border-radius: 000px;
}
.col-2 h1{
  
  font-size:50px;
  line-height:60px;
  margin: 25px 0;
  color: rgb(207, 159, 0);
}
.btn{
  display: inline-block;
  background: #1c4587;
  color: rgb(207, 159, 0);
  padding: 8px 30px;
  margin: 30px;
  border-radius: 30px;
  transition: background 0.2s;
}
.btn:hover{
  background: rgb(207, 159, 0);
  color: #1c4587;
}
.small-container{
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.header{
  /*background: radial-gradient(#fff,#ffffff);*/
  background-color: white;
  /*background-image: url("images/trees.jpg");
  background-color: #ffffff80;*/
}

.header .row{
  margin-top: 70px;
}
.col-3{
  flex-basis: 33.333%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
  transition: transform 0.5s;
}
.col-3 img{
  width: 100%;
}
.col-3-2{
  flex-basis: 33.333%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
  transition: transform 0.5s;
}
.col-3-2 img{
  width: 100%;
}
.col-3-3{
  flex-basis: 33.333%;
  padding: 0px;
  min-width: 200px;
  margin-bottom: 50px; 
}

.title2{
  text-align: center;
  margin: 0 auto 80px;
  line-height: 60px;
  color: #555;
  ;
}

.title{
  text-align: center;
  margin: 0 auto 80px;
  position: relative;
  line-height: 60px;
  color: #555;
}
.title::after{
  content: '';
  background: #007900;
  width: 80px;
  height: 4px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
h4{
  color: #555;
  font-weight: normal;
}
.col-3 p{
  font-size: 14px;
}
.col-3-2 p{
  font-size: 14px;
}
.rating .fa{
  color: #086400;
}
.col-3:hover{
  transform: translateY(-5px);
}
.footer{
  background: #000;
  color: #8a8a8a;
  font-size: 14px;
  padding: 60px 0 20px;
}
.footer p{
  color: #8a8a8a;
}
.footer a{
  color: #8a8a8a;
}
.footer h3{
  color: white;
  margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3{
  min-width: 250px;
  margin-bottom: 20px;

}
.footer-col-1{
  flex-basis: 30%;
}
.footer-col-2{
  flex: 1;
  text-align: center;
  font-size:30px;
}
.footer-col-2 img{
  width: 180px;
  margin-bottom: 20px;
}
.footer-col-3, .footer-col-4{
  flex-basis: 12%;
  text-align: center;
}
ul{
  list-style-type: none;
}
.app-logo{
  margin-top: 20px;
}
.app-logo img{
  width: 140px;
}
.footer hr{
  border: none;
  background: #1c4587;
  height: 1px;
  margin: 20px 0;
}
.copyright{
  text-align: center;
}
.menu-icon{
  width:28px;
  margin-left:20px;
  display: none;
}

.abutton:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.abutton:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
/*---media query for menu----*/
@media only screen and (max-width: 1000px){
  nav ul{
    position: absolute;
    top: 80px;
    right: 0px;
    background: rgba(9, 104, 0, 0.212);
    border-radius: 20px;
    width: 35%;
    overflow: hidden;
    transition: max-height 0.5s;

  }
  nav ul li{
    display: block;
    text-align: center;
    margin-right: 0px;
    margin-top: 10px;
    margin-bottom: 10px;

  }
  nav ul li a{
    color: rgb(0, 0, 0);
  }
  .menu-icon{
    display: block;
    cursor: pointer;
  }
  .cart-info p{
    display: none;
  }
}
.sdailylogo{
  position: relative;
  font-family: "Press Start 2P";
  color: #1c4587;
  font-size: 40px;
}
.sdailylogo2{
  position: relative;
  font-family: "Press Start 2P";
  color: #ffffff;
  font-size: 20px;
  text-align: center;
}
.sdailylogo4{
  position: relative;
  font-family: "Press Start 2P";
  color: #ffe600;
  font-size: 20px;
  text-align: center;
}

.sdailylogo3{
  position: relative;
  font-family: "Press Start 2P";
  color: #1c4587;
  font-size: 20px;
  text-align: center;
}
.date{
  position: relative;
  font-family: "Press Start 2P";
  color: #1c4587;
  font-size: 14px;
}
.single-product{
  margin-top: 80px;
}
.single-product .col-2 img{
  padding: 0;

}
.single-product .col-2{
  padding: 20px;
}
.single-product h4{
  margin: 20px 0;
  font-size: 22px;
  font-weight: bold;
}
.single-product select{
  display: block;
  padding: 10px;
  margin-top: 20px;

}
.single-product input{
  width: 50px;
  height: 40px;
  padding-left: 10px;
  font-size: 20px;
  margin-right: 10px;;
  border: 2px solid rgb(12, 136, 0);
}
input:focus{
  outline: none;
}
.cart-page{
  margin: 80px auto;

}
table{
  width:100%;
  border-collapse: collapse;
}
.cart-info{
  display: flex;
  flex-wrap: wrap;
}
th{
  text-align: left;
  padding: 5px;
  color: #fff;
  background: #116600;
  font-weight: normal;
}
td{
  padding: 10px 5px;
}
td input{
  width: 40px;
  height: 30px;
  padding: 5px;
}
td a{
  color: #00a100;
  font-size: 12px;
}
td img{
  width: 80px;
  margin-right: 10px;

}
.total-price{
  display: flex;
  justify-content: flex-end;
}
.total-price table{
  border-top: 3px solid #005011;
  width: 100%;
  max-width:350px;
}
td:last-child{
  text-align: right;

}
th:last-child{
  text-align: right;
}
@media (prefers-color-scheme: dark) {
  body{
    background: rgb(36, 36, 36);
    color: #fff;
  }
  .footer{
    background: rgb(22, 22, 22);
  }
  a{
    color: rgb(192, 192, 192);
  }
  p{
    color: rgb(192, 192, 192);
  }
  .header{
    /*background: radial-gradient(#fff,#ffffff);*/
    background-color: rgb(36, 36, 36);
    /*background-image: url("images/trees.jpg");
    background-color: #ffffff80;*/
  }
  .title2{
    color: rgb(192, 192, 192);
    ;
  }
  
  .title{
    color: rgb(192, 192, 192);
  }
  h4{
    color: rgb(192, 192, 192);
  }
  @media only screen and (max-width: 1000px){
    nav ul{
      background: rgba(9, 104, 0, 0.212);
    }
    nav ul li a{
      color: rgb(255, 255, 255);
    }
  }
  th{
    color: rgb(36, 36, 36);
  }
  .abutton:after {
    background-color: #ffffff;
  }
}